<div class="container">
    <h2>Planets</h2> 
    <input type="text" [(ngModel)]="query" placeholder="Type planet's name">
        <button (click)="search()">Search</button>

        <div *ngIf="query.length == 0">
            <div *ngIf="planets$ | async as planets">
                <div *ngFor="let planet of planets.results">
                    <a [routerLink]="['/planets/', planet.uid]">
                    {{ planet.name }}
                    </a>
                </div>
            </div>
        </div>
    
        <div *ngIf="query.length > 0">
            <div *ngIf="planets">
                <div *ngFor="let planet of planets">
                    <a [routerLink]="['/planets/', planet.uid]">
                    {{ planet.properties.name }}
                    </a>
                </div>
            </div>
        </div>

    <button (click)="prevPage()">Prev</button>
    {{page}}
    <button (click)="nextPage()">Next</button>
</div>
