<div class="container">
    <h2>Starships</h2>
    <input type="text" [(ngModel)]="query" placeholder="Type starship's name">
    <button (click)="search()">Search</button>

    <div *ngIf="starships$ | async as starships">
        <div *ngFor="let starship of starships.results;">
            <a [routerLink]="['/starships/', starship.url.substring(32, starship.url.length - 1)]">
            {{ starship.name }}
            </a>
        </div>
    </div>

    <button (click)="prevPage()">Prev</button>
    {{page}}
    <button (click)="nextPage()">Next</button>
</div>
