<div class="container">
    <input type="text" [(ngModel)]="query" placeholder="Type character's name">
        <button class="btn btn-primary" (click)="search()">Search</button>

        <h2>People</h2>
    <div *ngIf="people$ | async as people">
        <div *ngFor="let person of people.results;">
            <a [routerLink]="['/people/', person.url.substring(29, person.url.length - 1)]">
            {{ person.name }}
            </a>
        </div>
    </div>

    <button (click)="prevPage()">Prev</button>
    {{page}}
    <button (click)="nextPage()">Next</button>
</div>
