<div class="container">
    <h2>People</h2>
    <input type="text" [(ngModel)]="query" placeholder="Type character's name">
        <button class="btn btn-primary" (click)="search()">Search</button>

    <div *ngIf="query.length == 0">
        <div *ngIf="people$ | async as people">
            <div *ngFor="let person of people.results">
                <a [routerLink]="['/people/', person.uid]">
                {{ person.name }}
                </a>
            </div>
        </div>
    </div>

    <div *ngIf="query.length > 0">
        <div *ngIf="people">
            <div *ngFor="let person of people">
                <a [routerLink]="['/people/', person.uid]">
                {{ person.properties.name }}
                </a>
            </div>
        </div>
    </div>

    <button (click)="prevPage()">Prev</button>
    {{page}}
    <button (click)="nextPage()">Next</button>
</div>
