<div class="container">
    <div *ngIf="film">
        <h1>{{ film.title }}</h1>
        <p>Episode: {{ film.episode_id }}</p>
        <p id="crawl">Opening crawl: {{ film.opening_crawl }}</p>
        <p>Producer: {{ film.producer }}</p>
        <p>Release date: {{ film.release_date }}</p>
        <p>Characters: </p>
        <div *ngFor="let character of people">
            <a [routerLink]="['/people/', character.uid]">
                {{ character.properties.name }}
            </a>
        </div>
        <p>Planets: </p>
        <div *ngFor="let planet of planets">
            <a [routerLink]="['/planets/', planet.uid]">
                {{ planet.properties.name }}
            </a>
        </div>
        <p>Starships: </p>
        <div *ngFor="let starship of starships">
            <a [routerLink]="['/starships/', starship.uid]">
                {{ starship.properties.name }}
            </a>
        </div>
        <p>Vehicles: </p>
        <div *ngFor="let vehicle of vehicles">
            <a [routerLink]="['/vehicles/', vehicle.uid]">
                {{ vehicle.properties.name }}
            </a>
        </div>
        <p>Species: </p>
        <div *ngFor="let spec of species">
            <a [routerLink]="['/species/', spec.uid]">
                {{ spec.properties.name }}
            </a>
        </div>
    </div>
</div>
