<div class="container">
  <h1>Welcome to Star Wars wiki website!</h1>
  <p>In this website you can learn some interesting information about our's favourite universe. You can learn 
    and research some data from classic trilogies. You can learn about <span [routerLink]="['/films/']">films</span>, <span [routerLink]="['/characters/']">characters</span>,
    <span [routerLink]="['/planets/']">planets</span>, <span [routerLink]="['/species/']">species</span>, 
    <span [routerLink]="['/starships/']">starships</span> and <span [routerLink]="['/vehicles/']">vehicles</span>.
    So, gl hf! I hope you will enjoy this website!
  </p>

  <p>Sincerely, Sanzhar Ashirbekov</p>
</div>

<router-outlet></router-outlet>
